NEXT_PUBLIC_API_URL=https://backenddoccheck-production.up.railway.app/api
NEXT_PUBLIC_DOCCHECK_API_URL=https://doccheckservice-copy-production.up.railway.app/api
NEXT_PUBLIC_APP_NAME=PFE Seller Platform
NEXT_PUBLIC_APP_VERSION=1.0.0
